.add-or-lose-modal {
   display: none;
   position: absolute;
   z-index: 1000;
   width: 180px;
   height: 100px;
   bottom: 110px;
   padding: 10px;
   margin-left: -90px;
   padding-top: 5px;
   font-weight: bolder;
   &.add-or-lose-modal-void {
    .button {
        display: none;
    }
   }
   p {
        color: #fff !important;
   }
   .button {
        background-color: #fff;
        width: 160px;
        height: 40px;
        position: absolute;
        bottom: 0px;
        background-image: url(img/tick.svg);
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
   }
    &.isVis {
        display: block;
    }
    &.twitter {
        background-color: @twitter;
        left: 50%;
        &:after {
            border-top: 15px solid  @twitter;
        }
    }
    &.facebook {
        background-color: @facebook;
        left: 30%;
         &:after {
            border-top: 15px solid  @facebook;
        }
    }
    &.instagram {
        background-color: @instagram;
        left: 70%;
        &:after {
            border-top: 15px solid @instagram;
        }
    }
    &:after {
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        left: 50%;
        position: absolute;
        height: 0px;
        width: 0px;
        bottom: -15px;
        margin-left: -15px;
        content: "";
        display: block;
    }
}