.button {
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    position: relative;
    display: block;
    margin-bottom: 10px;
    clear: both;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 52px;
    height: 40px;
    vertical-align: top;
    text-align: left;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 40px;
    cursor: pointer;
    border:none;
    color: #fff;
    font-weight: bolder;
    .button-inner {
        margin:auto;
        width: 100px;
    }
    .button-inner-long {
        margin:auto;
        width: 220px;
    }
    .icon {
        float: left;
        position: relative;
        top: 0px;
        left: 0px;
        height: 40px;
        width: 40px;
        background-size: 280px 40px;
        text-align: center;
        line-height: 40px;
    }
    span {
        display: inline;
        height: 40px;
    }
    &:hover {
        color: #fff;
    }
    &.twitter {
        background: #1daced; /* Old browsers */
        background: -moz-linear-gradient(top,  #1daced 0%, #117fc4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1daced), color-stop(100%,#117fc4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #1daced 0%,#117fc4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #1daced 0%,#117fc4 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #1daced 0%,#117fc4 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #1daced 0%,#117fc4 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1daced', endColorstr='#117fc4',GradientType=0 ); /* IE6-9 */


        .icon {
            background-image: url(img/social.svg);
            background-position: 0px 0px;
        }
    }
    &.facebook {
/*        background-color: @facebook;*/
        background: #405893; /* Old browsers */
        background: -moz-linear-gradient(top,  #405893 0%, #36407c 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#405893), color-stop(100%,#36407c)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #405893 0%,#36407c 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #405893 0%,#36407c 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #405893 0%,#36407c 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #405893 0%,#36407c 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#405893', endColorstr='#36407c',GradientType=0 ); /* IE6-9 */

        .icon {
            background-image: url(img/social.svg);
            background-position: -40px 0px;
        }
    }
    &.instagram {
        background: #76483a; /* Old browsers */
        background: -moz-linear-gradient(top,  #76483a 0%, #4c3426 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76483a), color-stop(100%,#4c3426)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #76483a 0%,#4c3426 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #76483a 0%,#4c3426 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #76483a 0%,#4c3426 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #76483a 0%,#4c3426 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76483a', endColorstr='#4c3426',GradientType=0 ); /* IE6-9 */

        .icon {
            background-image: url(img/social.svg);
            background-position: -120px 0px;
        }
    }
    &.google {
        background-color: @google;
        .icon {
            background-image: url(img/social.svg);
            background-position: -80px 0px;
        }
    }
    &.action {
        background: #f54997; /* Old browsers */
        background: -moz-linear-gradient(top,  #f54997 0%, #d13e7b 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f54997), color-stop(100%,#d13e7b)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f54997 0%,#d13e7b 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f54997 0%,#d13e7b 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f54997 0%,#d13e7b 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #f54997 0%,#d13e7b 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f54997', endColorstr='#d13e7b',GradientType=0 ); /* IE6-9 */
    }
    &.bbcid {
        background-color: @bbcid;
    }
    &.negative {
        background: #adadad; /* Old browsers */
        background: -moz-linear-gradient(top,  #adadad 0%, #919191 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adadad), color-stop(100%,#919191)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #adadad 0%,#919191 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #adadad 0%,#919191 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #adadad 0%,#919191 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #adadad 0%,#919191 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#919191',GradientType=0 ); /* IE6-9 */

    }
}
.profile-login {
    padding:0px !important;
    display: block;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    .button {
        margin-bottom: 0px;
        width: 20%;
        padding: 0px;
        min-width: initial;
        background-position: center;
        display: inline-block;
        margin-left: 0px;
        .icon {
            right: initial;
            margin: auto;
            position: relative;
            float: none !important;
            &:before {
                display:none;
            }
        }
    }   
}
.remove {
    position: absolute;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background-color: #e60000;
    padding: 0px 15px 0px 15px;
    top: 0px;
    right: 0px;
    width: 130px;
    .remove-icon {
        width: 30px;
        height: 0px;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -2px;
        &:before {
            height:4px;
            content: "";
            display: block;
            background-color: #fff;
            position: absolute;
            width: 30px;
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            transform:rotate(45deg);
        }
         &:after {
            height:4px;
            content: "";
            display: block;
            background-color: #fff;
            position: absolute;
            width: 30px;
            -webkit-transform:rotate(-45deg);
            -moz-transform:rotate(-45deg);
            transform:rotate(-45deg);
        }
    }
}