.end-dialog {
    position: fixed;
    padding: 20px;
    color: #232323;
    top: initial;
    left: 0px;
    right: initial;
    bottom: initial;
    background-color: #fff;
    z-index: 1000;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    transition:opacity 0.2s;
    overflow: hidden;
    text-align: center;
    .end-dialog-header {
        position: relative;
        margin:auto;
        height: 70px;
        width: 70px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(img/help.svg);
    }
    h2 {

    }
    h3 {

    }
    .button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        text-align: center;
    }
    &.active {
        top: 90px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        opacity: 1;
    }
}