.header {
    background-color: #232323;
    z-index: 1000;
    .header-logo {
        width: 160px;
        height: auto;
        margin:auto;
        position: absolute;
        left: 50%;
        margin-left: -80px;
        bottom: 20px;
    }
}
.header {
    width: 100%;
    display: block;
}
.header-logo-holder {
    min-height: 90px;
}