.help-centre-panel {
    padding: 20px;
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    transition:opacity 0.2s;
    position: relative;
    width: 100%;
    color: #fff;
    z-index: 1000;
    overflow: auto;
    background-color: #232323;
    height: auto;
    opacity: 1;
    text-align: justify;
    font-size: 18px;
    .help-centre-panel-header {
        position: relative;
        width: 70px;
        height: 70px;
        margin: auto;
        background-image: url(img/nav.svg);
        background-position: 0px -140px;
        background-repeat: no-repeat;
        background-size: 70px 280px;
    }
}