.listeners {
    position: relative;
    height: 250px;
    margin-top: 0px;
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    transition:all 0.2s;
    ul.listeners-profile {
        margin:0px;
        padding:0px;
        -webkit-transition:opacity 0.2s;
        -moz-transition:opacity 0.2s;
        transition:opacity 0.2s;
        opacity: 1;
        position: relative;
        display: block;
        width: 100%;
        height: 250px;
        li.listener-profile-li {
            min-height: 100%;
            display: inline-block;
            width: 100%;
            position: relative;
            padding-bottom: 60px;
            .music {
                li {
                    float: left;
                }
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }
            .tweets {
                width: 100%;
            }
        }
        &.isHidden {
            opacity: 0;
        }
    }
    .profile-swipe-wrapper {
        min-height: 100%;
    }
    .listeners-preloader {
        position: fixed;
        top: 50%;
        left: 50%;
        height: 32px;
        width: 32px;
        margin-top: -64px;
        margin-left: -16px;
        background:transparent;
        img {
            max-width: 100%;
        }
/*        background-image: url(img/Preloader_10.gif);*/
    }
    .profile {
        .profile-pic-outer {
            padding-top: 0px;
            padding-bottom: 0px;
            display: block;
            position: relative;
        }
        h2  {
            margin:0px;
            color: #fff;
            padding: 10px;
            border-bottom: none;
        }
    }
    &.hidden {
        margin-top: -250px;
    }
}