.lockedin-profile-single {
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    transition:all 0.2s;
    opacity: 0;
    display: none;
    position: relative;
    text-align: center;
    .lockedin-profile-single-loc, .lockedin-profile-single-desc {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 40px 40px;
        padding: 40px 10px 10px 10px;
    }
    .lockedin-profile-single-loc {
        background-image: url(img/loc.svg);
        font-size: 22px;
    }
    .lockedin-profile-single-desc {
        background-image: url(img/info.svg);
    }
    &.isActive {
        display: block;
    }
    &.isVis {
        opacity: 1;
        padding-top: 20px;
    }
}