.lockedin-profile-ctrl {
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
    .lockedin-profile-ctrl-button-holder {
        width: 100%;
        padding:10px 20px 0px 20px;
        background-color: #323232;
    }
    .button {
        width: 100%;
        text-align: center;
        margin-bottom: 0px !important;
    }
    .lockedin-profile-btn {
        height: 80px;
        background-color: #323232;
        position: relative;
        font-size: 26px;
        font-weight: bolder;
        width: 100%;
        display: table;
        cursor: pointer;
        z-index: 1000;
        .lockedin-profile-btn-inner {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            .lockedin-profile-btn-inner-arrow {
                height: 30px;
                width: 30px;
                -webkit-transition:all 0.2s;
                -moz-transition:all 0.2s;
                transition:all 0.2s;
                position:relative;
                margin:auto;
                background-image: url(img/lockedin-profile-arrow.svg);
                background-size: 30px 30px;
                &.active {
                    -webkit-transform:rotate(180deg);
                    -moz-transform:rotate(180deg);
                    transform:rotate(180deg);
                }
            }
        }
    }
}