.login-page {
    &.header {
        background-color: initial;
    }
}
.login-main {
    position: fixed;
    top: 0px;
    bottom: 120px;
    left: 0px;
    right: 0px;
    opacity: 0;
    -webkit-transition:opacity 0.3s;
    -moz-transition:opacity 0.3s;
    transition:opacity 0.3s;
   /* background-image: url(img/background_image.jpg);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    .login-main-inner {
        text-align: center;
        position: relative;
        border-top-color: 0px;
        height: 100%;
        width: 100%;
        display: table;
        .login-main-inner-container {
            display: table-cell;
            vertical-align: middle;
            font-size: 22px;
            font-weight: bolder;
            .header-logo-r1 {
                width: 100px;
                img {
                    max-width: 100px;
                    position: absolute;
                    top: 30px;
                    left: 50%;
                    margin-left: -50px;
                }
            }
            .header {
                .header-logo {
                    width: 180px;
                }
            }
            .login-main-inner-container-count {

            }
            .login-main-inner-container-sub {

            }
        }
    }
}
.login {
    padding: 0px;
    /*border-top: 1px solid @loginBorder;*/
    .bbcid {
        height: 80px;
        background-image: url(img/bbcid-lg.svg);
        background-position:center;
        background-repeat: no-repeat;
        background-size: 60px 60px;
    }
    p {
        font-size: 22px;
        text-align: center;
        padding: 20px;
    }
}
.login-text {
    height: 60px;
    width: auto;
    display: table;
    .login-text-inner {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
    }
}
.login-social-loading {
    height: 70px;
    width: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
}
.social-loading {
    display: none;
    .preloader {
        position: absolute !important;
    }
}
.login-container {
    height: 40px;
    width: 100%;
    display: block;position: relative;
    .profile-login-text {
        height: 40px;
        width: 20%;
        position: relative;
        font-size: 11px;
        background-color: #232323;
        display: inline-block;
        padding: 10px;
        text-align: left;
        font-weight: bolder;
    }
    .bbcid {
        height: 40px;
        background-size: 30px 30px;
        background-image: url(img/bbcid.svg);
    }
}
.login-ctrl {
    background-color: initial !important;
}
.login-btns {
    position: fixed;
    z-index: 1100;
    bottom: 0px;
    .button {
        margin-bottom: 0px;
    }
    .profile-ctrl {
        padding: 0px;
        height: 40px;
        .profile-ctrl-2-col {
            padding: 0px;
        }
    }
    width: 100%;
}
.login-sub {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    font-size: 16px;
}
.login-loading {
    position: absolute;
    top: 20px;
    right: 20px;
}