.music {
    position: relative;
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid #323232;
    .fb-logo {
        height: 40px;
        width: 40px;
        background-size: 280px 40px;
        background-image: url(img/social.svg);
        background-position: -40px 0px;
        margin:auto;
    }
    ul {
        padding:10px 0px 0px 0px;
        margin:0px;
        position: relative;
    }
    li {
        width: 20%;
        padding-bottom: 20%;
        display: inline-block;
        position: relative;
        overflow: hidden;
        -webkit-ackground-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}
.listeners{
    .music {
        padding: 10px 10px 20px 10px;
    }
}