
.nav-footer {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    background-repeat: no-repeat;
    background-position: 10px center;
    .nav-footer-inner {
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        padding: 5px 0px;
    }
    .nav-footer-count {
        float: left;
        position: relative;
        display: block;
        padding: 0px 10px;
        color: #323232;
        &:after {
            height:30px;
            position: absolute;
            top: 5px;
            content: "";
            display: block;
            background-color: #323232;
            width: 1px;
            right: 0px;
        }
    }
    .nav-footer-help, .nav-footer-btn {
        position: absolute;
        height: 50px;
        width: 50px;
        cursor: pointer;
        top: 0px;
        background-repeat: no-repeat;
    }
    .nav-footer-help {
        right: 50px;
        background-image: url(img/help.svg);
        background-size: 30px 30px;
        background-position: 15px 12px;
    }
    .nav-footer-btn {
        right: 0px;
        background-image: url(img/settings.svg);
        background-size: 40px 40px;
        background-position: center;
    }
    .nav-footer-notifications-centre {
        background-color: #adadad;
        height: 100%;
        width: auto;
        left: 10px;
        padding:0px 0px 0px 5px;
        line-height: 40px;
        /*display: block;*/
        position: relative;
        float: left;
    }
    .nav-notification {
        float: left;
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        background-image:url(img/shoutout.svg);
        background-position: 0px 5px;
        background-size: 90px 30px;
        position: relative;
        .nav-notification-inner {
            position: absolute;
            height: 30px;
            width: 30px;
            left: 0px;
            top: 0px;
             background-size: 90px 30px;
            background-image:url(img/shoutout.svg);
            background-position: -30px 5px;
            opacity: 0;
            -webkit-transition:opacity 0.1s;
            -moz-transition:opacity 0.1s;
            transition:opacity 0.1s;
            &.blink {
                animation: blink 1s step-start 0s infinite;
                -webkit-animation: blink 1s step-start 0s infinite;
            }
        }
    }
    .nav-notification-centre-btn {
        -webkit-transition:all 0.2s;
        -moz-transition:all 0.2s;
        transition:all 0.2s;
        height: 30px;
        width: 40px;
        margin: 5px 0px;
        display: block;
        float: left;
        cursor: pointer;
        background-image: url(img/notification-btn.svg);
        background-size: 30px 30px;
        background-position: 5px 0px;
        background-repeat: no-repeat;
        &.isActive {
            -webkit-transform:rotate(180deg);
            -moz-transform:rotate(180deg);
            transform:rotate(180deg);
        }
    }
}