.notification-centre-panel {
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    transition:opacity 0.2s;
    opacity: 0;
    position: relative;
    width: 100%;
    height: 0px;
    color: #fff;
    z-index: 1000;
    overflow: auto;
    background-color: #232323;
    &.isActive {
        height: auto;
        opacity: 1;
        padding-bottom: 20px;
        .notification-centre-panel-header {
            position: relative;
            width: 70px;
            height: 70px;
            margin: auto;
            background-image: url(img/shoutout.svg);
            background-position: -70px 0px;
            background-repeat: no-repeat;
            background-size: 210px 70px;
        }
        h2 {
            text-align: center;
            font-size: 22px;
            padding: 0px;
            margin: 0px 0px 20px 0px;
        }
    }
    ul {
        list-style: none;
        margin:0px;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        padding: 0px 10px !important;
        .notification-centre-list {
            list-style: none;
            display: block;
            margin:0px;
            width: 100%;
            height: 90px;
            padding: 10px;
            border-bottom: 1px solid #232323;
            background-color: #323232;
            &.notification-dj {
                .notification-centre-list-img {
                    -webkit-border-radius:0px;
                    -moz-border-radius:0px;
                    border-radius:0px;
                }
            }
            .notification-centre-list-img {
                -webkit-border-radius:100%;
                -moz-border-radius:100%;
                border-radius:100%;
                height: 70px;
                width: 70px;
                overflow: hidden;
                float: left;
                img {
                    min-width: 100%;
                    max-height: 100%;
                }
            }
            .notification-centre-list-name {
                height: 60px;
                line-height: 60px;
                color: #fff;
                text-align: right;
                font-weight: 60px;
                position: relative;
                span {
                    position: absolute;
                    bottom: -20px;
                    right: 0px;
                    color: #cdcdcd;
                    padding-left: 20px;
                    font-size: 11px;
                }
            }
        }
    }
}
@keyframes blink {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}