.profile-ctrl {
    position: relative;
    padding: 0px 20px;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    .profile-ctrl-btn-icon {
        .icon {
            height: 40px;
            width: 40px;
            background-size: 280px 40px;
            background-image: url(img/social.svg);
            margin:auto;
        }
    }
    .profile-ctrl-del {
        background-color: #e60000;
        .icon {   
            background-position: -200px 0px;
        }
    }
    .profile-ctrl-go {
        border-left: 1px solid #91B65C;
        border-top: 1px solid #91B65C;
        background: #6da51e;
        background: -moz-linear-gradient(top, #6da51e 0%, #558727 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6da51e), color-stop(100%,#558727));
        background: -webkit-linear-gradient(top, #6da51e 0%,#558727 100%);
        background: -o-linear-gradient(top, #6da51e 0%,#558727 100%);
        background: -ms-linear-gradient(top, #6da51e 0%,#558727 100%);
        background: linear-gradient(to bottom, #6da51e 0%,#558727 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6da51e', endColorstr='#558727',GradientType=0 );
        text-align: center;

    }
    .profile-ctrl-logout {
        background-color: #adadad;
        .icon {
            background-position: -240px 0px;
        }
    }
    .profile-ctrl-1-col {
        width: 100%;
        padding: 0px;
        display: block;
        position: relative;
        margin-bottom: 0px;
        overflow: hidden;
        .button {
            margin: 0px;
            width: 100%;
            height: 40px;
        }
    }
    .profile-ctrl-2-col {
        display: block;
        height: 100%;
        width: 50%;
        float: left;
        height: 40px;
        padding: 0px 5px;
        .profile-ctrl-go {
            padding-left: 10px !important;
        }
        .profile-ctrl-logout {
            padding-left: 10px !important;
        }
    }
}