.profile-outer {
    position: relative;
}
.profile {
    text-align: center;
    position: relative;
    h2  {
        margin:0px;
        color: #fff;
        padding: 10px;
        border-bottom: 1px solid @loginBorder;
        background-color: #323232;
    }
    h5 {
        padding: 0px 0px 20px 0px;
        margin: 0px;
        background-color: #323232;
        text-align: center;
    }
    .profile-desc, .profile-shoutouts {
        margin:0px;
        color: #fff;
        padding: 10px;
        background-color: #232323;;
    }
    h3  {
        color: #666;
    }
    p {
        color: #adadad;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .twitter {
        color: @twitter;
    }
    .facebook {
        color: @facebook;
    }
    .instagram {
        color: @instagram;
    }
    .google {
        color: @google;
    }
}
.profile-swipe-container {
    h2 {
        background-color: initial;
    }
}
.profile-shoutouts {
    position: absolute;
    bottom: 28px;
    left: 10px;
    z-index: 1000;
    .profile-shoutouts-notification {
        height: 25px;
        position: relative;
        background-image:url(img/shoutout.svg);
        background-size: 90px 30px;
        background-position: -60px 0px;
        background-repeat: no-repeat;
        margin: auto;
        display: inline-block;
        width: 30px;
        overflow: hidden;
        .profile-shoutouts-notification-inner {
            height: 30px;
            width: 30px;
            left: 0px;
            top: 0px;
            background-image:url(img/shoutout.svg);
            position: relative;
            background-size: 90px 30px;
            background-position: -30px 0px;
            opacity: 0;
            &.blink {
                animation: blink 1s step-start 0s infinite;
                -webkit-animation: blink 1s step-start 0s infinite;
            }
        }
        &.isActive {
            background-image: url(img/nav.svg);
            background-position: 0px -90px;
            background-size: 30px 120px;
        }
    }
    .profile-shoutouts-notification-count {
        display: block;
        font-weight: lighter;
        width: 30px;
        text-align: center;
    }
}