.shoutout {
    -webkit-transition:all 0.2s;
    -moz-transition:all 0.2s;
    transition:all 0.2s;
    background-color: @action;
    color: #fff;
    position: relative;
    padding-left:10px;
    padding-right: 0px !important;
    margin-top: 20px;
    .shoutout-ico {
        height: 40px;
        width: 40px;
        float: right;
        background-repeat:no-repeat;
        background-image: url(img/shoutout.png);
        &:before {
            height:20px;
            width: 1px;
            background-color: #fff;
            content:"";
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .shoutout-count {
        position: absolute;
        right: 50px;
        text-align: right;
        top: 0px;
        font-weight: lighter;
    }
}
.shoutout-count {
    position: absolute;
    top: 0px;
    right: 20px;
}