.sparkles-1, .sparkles-2, .sparkles-3 {
    width: 330px;
    height: 126px;
    position: absolute;
    top: 50%;
    margin-top: -63px;
    left: 50%;
    margin-left: -165px;
    background-image: url(img/sparkles.png);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.sparkles-1 {
    background-position: 0px 0px;
    opacity: 0;
    -webkit-animation: sparklesOne 10s infinite; /* Safari 4+ */
    -moz-animation:    sparklesOne 10s infinite; /* Fx 5+ */
    -o-animation:      sparklesOne 10s infinite; /* Opera 12+ */
    animation:         sparklesOne 10s infinite; /* IE 10+, Fx 29+ */
}
.sparkles-2 {
    background-position: 0px -126px;
    opacity: 0;
    -webkit-animation: sparklesTwo 10s infinite; /* Safari 4+ */
    -moz-animation:    sparklesTwo 10s infinite; /* Fx 5+ */
    -o-animation:      sparklesTwo 10s infinite; /* Opera 12+ */
    animation:         sparklesTwo 10s infinite; /* IE 10+, Fx 29+ */
}
.sparkles-3 {
    background-position: 0px 252px;
    opacity: 0;
    -webkit-animation: sparklesThree 10s infinite; /* Safari 4+ */
    -moz-animation:    sparklesThree 10s infinite; /* Fx 5+ */
    -o-animation:      sparklesThree 10s infinite; /* Opera 12+ */
    animation:         sparklesThree 10s infinite; /* IE 10+, Fx 29+ */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes sparklesOne {
    0% {opacity: 0;}
    16% {opacity: 1;}
    33% {opacity: 0;}
    100% {opacity: 0;}
}
@-webkit-keyframes sparklesTwo {
    0% {opacity: 0;}
    14% {opacity:0;}
    50% {opacity: 1;}
    67% {opacity: 0;}
    100% {opacity: 0;}
}
@-webkit-keyframes sparklesThree {
    0% {opacity: 0;}
    60% {opacity: 0;}
    88% {opacity: 1;}
    100% {opacity: 0;}
}