.top-nav {
    a:link, a:hover, a:visited {
        color:#fff;
        text-decoration: none;
        display: block;
    }
    .top-nav-btn {
        height: 30px;
        width: 30px;
        cursor: pointer;
        right: 10px;
        position: absolute;
        bottom: 40px;
        display: block;
        z-index: 1000;
        .top-nav-btn-inner {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;
            -webkit-transition:all 0.2s;
            -moz-transition:all 0.2s;
            transition:all 0.2s;
            position: absolute;
            top: 50%;
            margin-top: -1px;
            width: 30px;
            height: 2px;
            background-color: #fff;
            display: block;
            &:before, &:after {
                content:"";
                display: block;
                position: absolute;
                background-color: #fff;
                height: 2px;
                width: 30px;
                -webkit-transition: -webkit-transform 0.3s;
                -moz-transition: -moz-transform 0.3s;
                transition: transform 0.3s;
            }
            &:before {
                -webkit-transform: translateY(-350%);
                -moz-transform: translateY(-350%);
                transform: translateY(-350%);
            }
            &:after {
                -webkit-transform: translateY(350%);
                -moz-transform: translateY(350%);
                transform: translateY(350%);
            }
        }
    }
    ul {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        -webkit-transition:all 0.2s;
        -moz-transition:all 0.2s;
        transition:all 0.2s;
        list-style: none;
        padding: 0px;
        margin: 0px;
        height: 0px;
        overflow: hidden;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        li {
            -webkit-transition:all 0.2s;
            -moz-transition:all 0.2s;
            transition:all 0.2s;
            height: 40px;
            overflow: hidden;
            width: 100%;
            height: 40px;
            border-top: 1px solid #232323;
            background-color: #464646;
            a {
                position: relative;
                height: 100%;
                width: 100%;
                display: block;
                padding: 10px;
                .icon {
                    position: absolute;
                    left: 30px;
                    width: 30px;
                    height: 30px;
                    top: 5px;
                    background-size: 30px 120px;
                    background-image: url(img/nav.svg);
                    background-repeat: no-repeat;
                    &:after {
                        display:none;
                    }
                    &.logout {
                        background-position: 0px 0px;
                    }
                    &.profile {
                        background-position: 0px -30px;
                    }
                    &.about {
                        background-position: 0px -60px;
                    }
                    &.delete {
                        background-position: 0px -90px;
                    }
                }
                .top-nav-link-label {
                    width: 160px;
                    margin: auto;
                }
            }
        }
    }
    &.active {
        .top-nav-btn {
            .top-nav-btn-inner {
                background-color: transparent;
                 &:before {
                    -webkit-transform: translateY(0) rotate(45deg);
                    -moz-transform: translateY(0) rotate(45deg);
                    transform: translateY(0) rotate(45deg);
                }
                &:after {
                    -webkit-transform: translateY(0) rotate(-45deg);
                    -moz-transform: translateY(0) rotate(-45deg);
                    transform: translateY(0) rotate(-45deg);
                }
            }
        }
        ul {
            height: 160px;
        }
    }
}