.tweets {
    background-position: center 60px;
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    text-align: center;
    background-color: #232323;
    position: relative;
    border-bottom: 1px solid #323232;
    .tweets-logo {
        height: 40px;
        width: 40px;
        background-size: 280px 40px;
       background-image: url(img/social.svg);
        background-position: 0px 0px;
        margin:auto;
    }
}
.listeners {
    .tweets {
        padding: 10px 20px 20px 20px;
    }
}