.console {
    position: relative;
    margin:auto;
    width: 1180px;
    padding-top: 40px;
    ul {
        padding:20px 0px;
    }
}
@media all and (max-width:1180px) {
    .console {
        width: 795px;
    }
}
@media all and (max-width:795px) {
    .console {
        width: 385px;
    }
}