.console-search {
    width: 600px;
    height: 40px;
    margin:auto;
    input {
        width: 100%;
        height: 40px;
        background-color: #fff;
        outline: none;
        border:none;
        padding:10px;
        text-align: center;
    }
}