.dj-shout {
    height: 80px;
    float: right;
    background-color: @purple;
    position: absolute;
    right: 40px;
    top: 0px;
    -moz-column-width: 25px;
    -moz-column-gap: 0px;
    -webkit-column-width: 25px;
    -webkit-column-gap: 0px;
    -ms-column-width: 25px;
    -ms-column-gap: 0px;
    -o-column-width: 25px;
    -o-column-gap: 0px;
    max-width: 80px;
    .dj-shout-id {
        height: 20px;
        width: 20px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        background-color: #fff;
        margin:2px;
        color: @pink;
        font-size: 9px;
        line-height: 20px;
        text-align: center;
        display: inline-block;
        /*float: right*/
    }
}