.get-more {
    height: 40px;
    background-color: @green;
    width: 600px;
    display: block;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-weight: lighter;
    margin:auto;
}