.listener {
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    transition:all 0.3s;
    width: 375px;
    height: 80px;
    margin:9px;
    display: inline-block;
    background-color: @listener;
    padding:5px;
    color: #fff;
    cursor:pointer;
    position: relative;
    &.isClicked {
        background-color: @pink;
        cursor: default;
    }
}