.login {
    form {
        font-weight: lighter;
        margin:auto;
        background-color: #323232;
        width: 600px;
        padding: 20px;
        text-align: center;
        fieldset {
            width: 100%;
            margin:0px;
            padding:10px 0px;
            border:none;
            outline: none;
        }
        input {
            width: 100%;
            height: 40px;
            border:none;
            outline: none;
            padding:10px;
            font-size: 18px;
            text-align: center;
        }
        ::-webkit-input-placeholder {
            font-style: italic;
            text-align: center;
        }
        .submit {
            background-color: @pink;
            height: 40px;
            width: 100%;
            text-align: center;
            display: block;
            color: #fff;
            line-height: 40px;
            cursor: pointer;
        }
    }
}
.login-nav {
    position: relative;
    margin-top: 20px;
    width: 600px;
    margin:auto;
    height: 40px;
    display: block;
    .login-nav-btn {
        line-height: 40px;
        text-align: center;
        height:40px;
        width: 200px;
        background-color: @pink;
        color: #fff;
        display: inline-block;
        cursor: pointer;
        &.current {
            background-color: #323232;
            color: #fff;
        }
    }
}