.profile-image {
    width: 70px;
    height: 70px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    position: relative;
    float: left;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}