.profile-info   {
    float: left;
    display: block; 
    position: relative;
    left: 10px;
    top: 10px;
    h3, p {
        margin:0px;
        padding:0px;
    }
    h3 {
        font-size: 22px;
    }
    p {
        font-size: 17px;
        color: @grey;
        font-weight: lighter;
    }
}