.refresh {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url(img/refresh.svg);
    background-size: 50px 50px;
    margin: auto;
    margin-top: 20px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    transition-property: transform;
    transition-duration: 1s;
    &:hover {
        -webkit-animation-name: rotate; 
        -webkit-animation-duration: 1s; 
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: rotate; 
        -moz-animation-duration: 1s; 
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        animation-name: rotate; 
        animation-duration: 1s; 
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(-360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(-360deg);}
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}