.shoutouts {
    height: 100%;
    width: 40px;
    background-color: @pink;
    display: block;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(img/icons.svg);
    background-repeat: no-repeat;
    background-position: top center;
    display: table;
    .shoutouts-inner {
        display: table-cell;
        height: 100%;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        padding-top: 20px;
    }
}