.shoutouts-dj {
    background-color: #943d65;
    float: right;
    height: 80px;
    position: absolute;
    right: 40px;
    top: 0px;
    .shoutouts-dj-inner {
        height: 40px;
        width: 100%;
        position: relative;
        display: block;
    }
    .shoutouts-dj-disc {
        color: @pink;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        background-color: #fff;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        margin: 5px;
        font-size: 11px;
        float: right;
        position: absolute;
        &:nth-child(1) {
            top:5px;
            right: 5px;
        }
        &:nth-child(2) {
            top:40px;
            right: 5px;
        }
        &:nth-child(3) {
            top:5px;
            right: 40px;
        }
        &:nth-child(4) {
            top:40px;
            right: 40px;
        }
        &:nth-child(5) {
            top:5px;
            right: 80px;
        }
        &:nth-child(6) {
            top:40px;
            right: 80px;
        }
    }
}