<!-- LISTENER COUNT -->
<div id="js-listener-count" class="listener-count loading">
    <p>There are currently</p>
    <div class="listener-count-number">{{count}}</div>
    <p class="loading-hint">Counting users locked in</p>
    <div class="preloader"></div>
        <p>listeners locked in</p>
        <!-- <div class="listener-count-icon-img"></div> -->
    <!-- <div class="button listener-count-close-btn" ng-click="removeListenerCount()">Close</div> -->
</div>

<!-- Start of listener profiles -->
<section class="listeners">
    <ul class="profile-swipe-container listeners-profile isHidden">
        <li class="profile-swipe-slide listener-profile-li" ng-repeat="listener in individulals">
            <div class="profile" data-me="{{listener._id}}">
                <div class="profile-pic-outer">
                    <div class="profile-pic" style="background-image:url({{listener.preferences.image}})"></div>
                </div>
                <h2>
                    {{listener.preferences.name}}
                </h2>
                <div class="social-add">
                    <p ng-show="listener.twitter.location">{{listener.twitter.location}}</p>
                    <p ng-show="listener.twitter.screen_name">Follow <a href="http://twitter.com/{{listener.twitter.screen_name}}" target="_blank" class="twitter">@{{listener.twitter.screen_name}}</a> in Twitter</p>
                    <p ng-show="listener.facebook.name">Add  <span class="facebook">{{listener.facebook.name}}</span> on Facebook</p>
                    <p ng-show="listener.instagram.data.username">Follow <a href="http://instagram.com/{{listener.instagram.data.username}}" target="_blank" class="instagram">{{listener.instagram.data.username}}</a> on Instagram</p>

                    <a ng-hide="listener.shouted" ng-click="checkShout( listener._id, $index, individulals)" class="button action shoutout">
                        Shoutout 
                        <div class="shoutout-count">
                             {{listener.peer}}
                        </div>
                        <div class="shoutout-ico"></div>
                    </a>
                    <div ng-show="listener.shouted" class="button negative shoutout">
                         Already sent a shout out 
                        <div class="shoutout-count">
                             {{listener.peer}}
                        </div>
                        <div class="shoutout-ico"></div>
                    </div>
                </div>
            </div>
            <section class="music" ng-show="listener.facebook.music">
            <div class="fb-logo"></div>
                <ul>
                    <li ng-repeat="item in listener.facebook.music.data" style="background-image:url(http://graph.facebook.com/{{item.id}}/picture?type=large)"></li>
                </ul>
            </section>
            <section class="tweets" ng-show="listener.twitter.status.text">
            <div class="tweets-logo"></div>
                {{listener.twitter.status.text}}
            </section>
             <section class="instagram-pics" ng-show="listener.instagram.photos">
                <ul>
                    <li ng-repeat="items in listener.instagram.photos.data | limitTo: 3">
                        <img ng-src="{{items.images.standard_resolution.url}}">
                    </li>
                </ul>
            </section>
        </li>
    </ul>
</section>
<!-- footer -->
<div class="nav-footer" ng-controller="navCtrl">
    <div class="nav-footer-inner">
        <div class="nav-footer-notifications-centre">
            <div class="nav-notification">
                <div class="nav-notification-inner"></div>
            </div>
            <div class="nav-footer-count" id="js-nav-footer-count">{{user.peer}}</div>
            <div class="nav-notification-centre-btn" ng-click="getShoutOutSenders()"></div>
        </div>
        <div class="nav-footer-help" ng-click="getHelp()"></div>
        <div class="nav-footer-btn" ng-click="setting()"></div>
    </div>
</div>
<div ng-include="notificationsCentre"></div>
<div ng-include="helpCentre"></div>
