 <header class="header">
    <div class="top-nav">
        <ul ng-controller="navCtrl">
            <li><a stop-event ng-click="logout()"><div class="icon logout"></div><div class="top-nav-link-label">Log out</div></a></li>
            <li><a stop-event ng-click="setting()"><div class="icon profile"></div><div class="top-nav-link-label">Your profile</div></a></li>
            <li><a stop-event ng-click="about()"><div class="icon about"></div><div class="top-nav-link-label">About LockedIn</div></a></li>
            <li><a stop-event ng-click="deleteProfile()"><div class="icon delete"></div><div class="top-nav-link-label">Delete your profile</div></a></li>
        </ul>
        <a class="top-nav-btn" stop-event ng-click="toggleNav()">
            <div class="top-nav-btn-inner"></div>
        </a>
    </div>
    <div class="profile-shoutouts">
        <div id="js-profile-shoutouts-notification" ng-click="openNotifications()" class="profile-shoutouts-notification">
            <div class="profile-shoutouts-notification-inner"></div>
        </div>
        <div class="profile-shoutouts-notification-count" id="js-profile-shoutouts-notification-count">{{user.peer}}</div>
    </div>
    <div class="header-logo-holder">
        <div class="header-logo">
            <img src="assets/css/img/logo.svg">
        </div>
    </div>
 </header>