<div id="js-help-centre-panel" class="help-centre-panel">
    <div class="help-centre-panel-header"></div>
    <p>LockedIn enables the listener to connect with other Radio1 listeners nearby and discover the tracks they love… live! No more listening, sat bored with nothing to look at. Indulge your voyeurism! Just swipe through who else is listening – because when you’re LockedIn, you can see who else is LockedIn with you.</p>
    <p>Choose how connected you are. Add multiple social networks to help build up a broader profile of who you are, then broadcast your favourite tunes and connect with like-minded people. Signing-in to Playlister really brings LockedIn to life, allowing you to see what other listeners have Playlisted and giving them a ‘shout out’ if they’re music taste has impressed you. Will you be a trend setter? Gain ‘Shout-outs’ while you listen and become an arbiter of musical taste by earning icons that show how many shout-outs you have had and how respected you are?</p>
    <p>Enjoying a track being played on Radio1? LockedIn makes sharing that track to your twitter or status easy by pre-loading the current track name playing into your message. Real time experience with the radio – DJ’s can see who’s LockedIn and interact with them via LockedIn. Broadcast your views and voice suggestions and responses to the show. Find new followers, and even new friends. Get LockedIn with Radio1.</p>
</div>