<!--  <a ng-click="remove('instagram')" class="remove">Remove
    <div class="remove-icon"></div>
</a> -->
<div class="instagram-logo"></div>
 <ul>
    <li ng-repeat="items in user.instagram.photos.data | limitTo: 3">
        <img ng-src="{{ items.images.standard_resolution.url }}">
    </li>
</ul>