<a href="http://instagram.com/{{individulals[currentListsner].instagram.data.username}}" class="follow"></a>
<div class="instagram-logo"></div>
 <ul>
    <li ng-repeat="items in individulals[currentListsner].instagram.photos.data | limitTo: 3">
        <img ng-src="{{ items.images.standard_resolution.url }}">
    </li>
</ul>