<div class="follow"></div>
<div class="fb-logo"></div>
<ul>
    <li ng-repeat="item in individulals[currentListsner].facebook.music.data" style="background-image:url(http://graph.facebook.com/{{item.id}}/picture?type=large)"></li>
</ul>