<section class="listeners">
    <ul class="profile-swipe-container listeners-profile listeners-swipearea">
        <li class="profile-swipe-slide listener-profile-li" ng-repeat="listener in individulals">
            <div class="profile" data-me="{{listener._id}}" data-index="{{$index}}">
                <div class="profile-pic-outer">
                    <div class="profile-pic" ng-style="{'background-image':'url('+listener.preferences.image+')'}"></div>
                     <h2>
                        {{listener.preferences.name}}
                    </h2>
                </div>
            </div>
        </li>
    </ul>
</section>
<section class="lockedin-profile">
<div class="lockedin-profile-ctrl">
    <div class="lockedin-profile-ctrl-button-holder">
        <div class="button action" ng-click="checkShout( individulals[currentListsner]._id, currentListsner)" class="button action shoutout">
            Send a shoutout
            <div class="shoutout-count">
                {{individulals[currentListsner].peer}}
            </div>
        </div>
    </div>
    <div id="js-lockedin-profile-btn" ng-click="showLockedInProfile()" class="lockedin-profile-btn">
        <div class="lockedin-profile-btn-inner">{{viewProfileMessage}}
            <div class="lockedin-profile-btn-inner-arrow"></div>
        </div>
    </div>
</div>
</section>
<section id="js-lockedin-profile-single" class="lockedin-profile-single">
    <h5 class="lockedin-profile-single-loc" ng-show="individulals[currentListsner].twitter.location">{{individulals[currentListsner].twitter.location}}</h5>
    <div class="lockedin-profile-single-desc" ng-show="individulals[currentListsner].twitter.description">
        <p>{{individulals[currentListsner].twitter.description}}</p>
    </div>
    <section class="tweets" ng-show="individulals[currentListsner].twitter.status.text">
     <a href="http://twitter.com/{{individulals[currentListsner].twitter.screen_name}}" target="_blank" class="follow"></a>
        <div class="tweets-logo"></div>
           {{individulals[currentListsner].twitter.status.text}}
    </section>
    <section class="instagram-pics" ng-show="individulals[currentListsner].instagram.photos" ng-include="listenerInstagram">
    </section>
    <section class="music" ng-show="individulals[currentListsner].facebook.music" ng-include="listenerFbMusicTemplate"></section>
</section>
<div id="js-end-dialog" class="end-dialog">
    <div class="end-dialog-header"></div>
    <h2>Wow!</h2>
    <h3>You've seen everybody that is currently lockedIn.</h3>
    <div ng-click="closeEndDialog()" class="button negative">Close</div>
</div>