<section id="js-login-main" class="login-main" data-bg="assets/css/img/background_image.jpg">
    <div class="login-social-loading social-loading" style="display:block">
        <div class="listeners-preloader">
            <div class="preloader preloader-alt"></div>
        </div>
    </div>
    <div class="login-main-inner">
        <div class="login-main-inner-container">
                <div class="header-logo-r1">
                    <img src="assets/css/img/logo-R1.svg">
                </div>
            <section class="login-main-inner-container-count">
                {{count}}
            </section>
            <section class="header login-page">
                <div class="header-logo">
                <div class="sparkles-1"></div>
                <div class="sparkles-2"></div>
                <div class="sparkles-3"></div>
                    <img src="assets/css/img/logo-lrg.svg">
                </div>
            
            </section>
            <section class="login-main-inner-container-sub">
            with Radio1
            </section>
        </div>
        <div class="login-sub">
            A meeting of music minds!<br/>Discover and connect with people<br/>on your wavelength
        </div>
    </div>
</section>
<div class="login-btns">
    <div class="content login">
         <a ng-click="loginBBC()" class="button bbcid">
        <!-- <button ng-click="login('facebook')" class="button button-block button-positive"> -->
        </a>
    </div>
    <section class="profile-ctrl login-ctrl">
        <div class="profile-ctrl-2-col">
            <a ng-click="login('facebook', 1)" class="button facebook profile-ctrl-btn-icon">
                <div class="button-inner">
                    <div class="icon"></div> 
                    <span>Facebook</span>
                </div>
            </a>
        </div>

        <div class="profile-ctrl-2-col">
            <a ng-click="login('twitter', 1)" class="button profile-ctrl-btn-icon twitter">
               <div class="button-inner">
                    <div class="icon"></div> 
                    <span>Twitter</span>
                </div>
            </a>
        </div>
    </section>
</div>
