<div id="js-notifications-centre-panel" class="notification-centre-panel">
    <div class="notification-centre-panel-header"></div>
    <h2>Your Shoutouts</h2>
    <ul>
        <li class="notification-centre-list notification-dj" ng-repeat="senders in djShoutOutsRecieved">
            <div class="notification-centre-list-img"><img ng-src="assets/css/img/R1.svg"></div>
            <div class="notification-centre-list-name"><span>{{senders.when}}</span>{{senders.preferences.name}}</div>
        </li>
        <li class="notification-centre-list" ng-repeat="sender in shoutOutsRecieved">
            <div class="notification-centre-list-img"><img ng-src="{{sender.preferences.image}}"></div>
            <div class="notification-centre-list-name">{{sender.preferences.name}}</div>
        </li>
    </ul>
</div>