<div class="content padding">
    <section class="profile-ctrl">
        <div class="profile-ctrl-1-col ">
            <a ng-click="lockIn()" class="button profile-ctrl-btn-icon profile-ctrl-go">
                <div class="button-inner-long">
                    <span>See who's LockedIn!</span>
                </div>
            </a>
        </div>
    </section>
    <div class="profile-outer">
    
        <div class="profile">

            <ul class="profile-swipe-container profile-pics">
               <li ng-show="profilePics" class="profile-swipe-slide" ng-repeat="item in profilePics">
                    <div class="profile-pic" data-img="{{item}}" style="background-image:url({{item}})"></div>
                </li>
            </ul>
            <h2>{{user.preferences.name}}</h2>
            <h5 ng-show="user.twitter.description">{{user.twitter.location}}</h5>
            <div class="add-or-lose-modal">
                <div class="add-or-lose-modal-close">
                     <div class="add-or-lose-modal-close-inner"></div>
                </div>
                <p>{{addOrLoseText}}</p>
                <div class="add-or-lose-modal-btn button" ng-click="addItOrLoseIt()" data-network=""></div>
            </div>
            <div class="login-container">
                <section class="login profile-login"><div class="profile-login-text">
                    LockedIn<br/>with:
                </div><a ng-click="addItOrLoseItModal('facebook')" class="button facebook">
                        <div class="icon"></div>
                    </a><a ng-model-"user.twitter" ng-click="addItOrLoseItModal('twitter')" class="button twitter">
                        <div class="icon"></div>
                    </a><a ng-model-"user.instagram" ng-click="addItOrLoseItModal('instagram')" class="button instagram">
                        <div class="icon"></div>
                    </a><a class="button bbcid">
                        <div class="icon"></div>
                    </a>
                </section>
            </div>
            <div class="profile-desc">
                <p ng-show="user.twitter.location">{{user.twitter.description}}</p>
            </div>
        </div>
            
        <!-- Twitter -->

        <section class="tweets" ng-show="user.twitter.status.text">
           <!--  <a ng-click="remove('twitter')" class="remove">Remove
                <div class="remove-icon"></div>
            </a> -->
            <div class="tweets-logo"></div>
                {{user.twitter.status.text}}
        </section>
        
        <!-- Instagram -->

        <section class="instagram-pics" ng-show="user.instagram.photos" ng-include="instagramTemplate">
        </section>

        <!-- FB Music -->
        
        <section class="music" ng-show="user.facebook.music" ng-include="fbMusicTemplate"></section>
    </div>
    <div>
       
    </div>
</div>