<div class="warning">
    <div class="warning-icon">
        <img src="assets/css/img/warning.svg">
    </div>
    <p>You are about to see content from outside of the BBC. 
    The BBC is not responsible for this content or what it may contain. 
    Are you happy to proceed?</p>
    <a class="warning-button button negative" ng-click="declineLockin()">No, I'm not happy</a>
    <a class="warning-button button action true" ng-click="getLockedIn()">I understand, let's go</a>
</div>
