<div class="warning">
    <div class="warning-icon">
        <img src="assets/css/img/warning.svg">
    </div>
    <p>Are you sure you want to perminantly delete your LockedIn profile?</p>
    <a class="warning-button button negative" ng-click="disagree()">Cancel</a>
    <a class="warning-button button action deleteBtn">I understand, delete profile</a>
</div>
