<a ng-click="remove('facebook')" class="remove">Remove
    <div class="remove-icon"></div>
</a>
<div class="fb-logo"></div>
<ul>
    <li ng-repeat="item in user.facebook.music.data" style="background-image:url(http://graph.facebook.com/{{item.id}}/picture?type=large)"></li>
</ul>