<section class="intro-panel">
    <div class="logo">
        <img src="assets/css/img/logo.svg">
    </div>
    <p>
        Indulge your voyeurism!<br/>
        Broadcast yourself and connect with like-minded people.
    </p>
    <div class="social-loading"><div class="listeners-preloader"><div class="preloader"></div></div></div>
</section>
<div class="content login">
     <a ng-click="loginBBC()" class="button bbcid">
    <!-- <button ng-click="login('facebook')" class="button button-block button-positive"> -->
     Sign in with your BBC ID
    </a>
    <p>
        Or create your your profile using your chosen social media chanel
    </p>
    <a ng-click="login('facebook', 1)" class="button facebook">
    <!-- <button ng-click="login('facebook')" class="button button-block button-positive"> -->
     Sign in with Facebook
    <div class="icon"></div>
    </a>
    <a ng-click="login('twitter', 1)" class="button twitter">
     Sign in with Twitter
    <div class="icon"></div>
    </a>
</div>