<div id="js-notifications-centre-panel" class="notification-centre-panel">
    <h3>These people have shouted you out</h3>
    <ul>
        <li class="notification-centre-list" ng-repeat="senders in shoutOutsRecieved">
            <div class="notification-centre-list-img"><img src="{{senders.preferences.image}}"></div>
            <div class="notification-centre-list-name">{{senders.preferences.name}}</div>
        </li>
    </ul>
</div>