<div class="content padding">
    

    <div class="header">
        <div class="header-logo">
            <img src="assets/css/img/logo.svg">
        </div>
    </div>

    <div class="profile-outer">
    
        <div class="profile">

            <ul class="profile-swipe-container profile-pics">
               <li ng-show="profilePics" class="profile-swipe-slide" ng-repeat="item in profilePics">
                    <div class="profile-pic" data-img="{{item}}" style="background-image:url({{item}})"></div>
                </li>
            </ul>
            <h2>{{user.preferences.name}}</h2>
            <div class="profile-shoutouts">
                <div class="profile-shoutouts-notification">
                    <div class="profile-shoutouts-notification-inner"></div>
                </div>
                <div class="profile-shoutouts-notification-count" id="js-profile-shoutouts-notification-count">{{user.peer}}</div>
            </div>
            <div class="profile-desc">
                <p ng-show="user.twitter.location">{{user.twitter.location}}</p>
                <p ng-show="user.twitter.description">{{user.twitter.description}}</p>
            </div>
        </div>
            
        <!-- Twitter -->

        <section class="tweets" ng-show="user.twitter.status.text">
            <a ng-click="remove('twitter')" class="remove">Remove
                <div class="remove-icon"></div>
            </a>
            <div class="tweets-logo"></div>
                {{user.twitter.status.text}}
        </section>
        
        <!-- Instagram -->

        <section class="instagram-pics" ng-show="user.instagram.photos" ng-include="instagramTemplate">
        </section>

        <!-- FB Music -->
        
        <section class="music" ng-show="user.facebook.music" ng-include="fbMusicTemplate"></section>

        <!-- Buttons -->
        
        <section class="login">
            <a ng-hide="user.facebook" ng-click="login('facebook', 2)" class="button facebook">
                Add to your profile with Facebook
                <div class="icon"></div>
            </a>
            <a ng-hide="user.twitter" ng-model-"user.twitter" ng-click="login('twitter', 2)" class="button twitter">
                Add to your profile with Twitter
                <div class="icon"></div>
            </a>
            <a ng-hide="user.instagram" ng-model-"user.instagram" ng-click="login('instagram', 2)" class="button instagram">
                Add to your profile with Instagram
                <div class="icon"></div>
            </a>
        </section>
        <section class="profile-ctrl">
            <a ng-click="lockIn()" class="button profile-ctrl-btn-icon profile-ctrl-go">
                Use this profile
                <div class="icon"></div>
            </a>
            <a ng-click="deleteProfile()" class="button profile-ctrl-btn-icon profile-ctrl-del">
                Delete Profile
                <div class="icon"></div>
            </a>
            <a ng-click="logout()" class="button profile-ctrl-btn-icon profile-ctrl-logout">
                Logout
                <div class="icon"></div>
            </a>
        </section>
    </div>
    <div>
       
    </div>
</div>