<div class="shoutout-dialog">
    <div class="profile-pic" style="background-image:url({{shoutOutIndex.preferences.image}})"></div>
    <p>Worthy of respect! Give a shout out to {{shoutOutIndex.facebook.name}}</p>
    <a class="shoutout-button button negative" ng-click="declineLockin()">Oops! Don't do it</a>
   <!--  <a class="shoutout-button button action" ng-click="shoutOut(shoutOutIndex['_id'], shoutOutIndex.preferences['socketioID'])">Shoutout!</a> -->
   <a class="shoutout-button button action" ng-click="shoutOut(shoutOutIndex['_id'])">Shoutout!</a>
</div>