html, body {
    padding:0px;
    margin:0px;
    color: @mainFont;
    overflow-x:hidden;
    background-color: @background;
    * {
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }
}
body {
    padding:0px 0px 0px 0px;
    font-family : @bodyFont;
}
ul, li {
    list-style: none;
    list-style-image: none;
}
.main {
    z-index: 10;
    background-image: url(img/BOKEH_BACK_03.png);
    background-size: 100%;
    background-repeat:repeat-x; 
    position: relative;
}