/*
===== GLOBAL =====
*/

@background : #232323;
@header : #000;

/*
===== Font Colours =====
*/

@mainFont: #fff;

/*
===== Social =====
*/

@twitter : #1daced;
@facebook : #405893;
@instagram : #76483a;
@google : #db4d3f;
@action : #f54997;
@loginBorder :#323232;
@bbcid : #5b5b5b;
@negative : #adadad;