.button {
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    position: relative;
    display: block;
    margin-bottom: 10px;
    clear: both;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 52px;
    height: 40px;
    vertical-align: top;
    text-align: left;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 40px;
    cursor: pointer;
    border:none;
    color: #fff;
    font-weight: bolder;
    .icon {
        position: absolute;
        top: 0px;
        right: 10px;
        height: 40px;
        width: 40px;
        background-size: 280px 40px;
        text-align: center;
        line-height: 40px;
    }
    .icon:before {
        content:"";
        display: block;
        width: 1px;
        position: absolute;
        top: 5px;
        bottom: 5px;
        height: 30px;
        background-color: #fff;
        right: 50px;
    }
    &:hover {
        color: #fff;
    }
    &.twitter {
        background-color: @twitter;
        .icon {
            background-image: url(img/social.svg);
            background-position: 0px 0px;
        }
    }
    &.facebook {
        background-color: @facebook;
        .icon {
            background-image: url(img/social.svg);
            background-position: -40px 0px;
        }
    }
    &.instagram {
        background-color: @instagram;
        .icon {
            background-image: url(img/social.svg);
            background-position: -120px 0px;
        }
    }
    &.google {
        background-color: @google;
        .icon {
            background-image: url(img/social.svg);
            background-position: -80px 0px;
        }
    }
    &.action {
        background-color: @action;
    }
    &.bbcid {
        background-color: @bbcid;
    }
    &.negative {
        background-color: @negative;
    }
}
.remove {
    position: absolute;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background-color: #e60000;
    padding: 0px 15px 0px 15px;
    top: 0px;
    right: 0px;
    width: 130px;
    .remove-icon {
        width: 30px;
        height: 0px;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -2px;
        &:before {
            height:4px;
            content: "";
            display: block;
            background-color: #fff;
            position: absolute;
            width: 30px;
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            transform:rotate(45deg);
        }
         &:after {
            height:4px;
            content: "";
            display: block;
            background-color: #fff;
            position: absolute;
            width: 30px;
            -webkit-transform:rotate(-45deg);
            -moz-transform:rotate(-45deg);
            transform:rotate(-45deg);
        }
    }
}