.dialog {
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0px;
    -webkit-transition:left 0.2s;
    -moz-transition:left 0.2s;
    transition:left 0.2s;
    z-index: 1000;
    background-color: #000;
    color: #fff;
    .warning, .shoutout-dialog{
        width: 100%;
        position: relative;
        padding: 20px;
    }
    .warning{
        .warning-icon {
            height: 40px;
            width: 40px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            text-align: center;
            font-size: 24px;
        }
        .button {
            width: 100%;
            z-index: 1000;
        }
    }
    .shoutout-dialog {

    }
    &.active {
        left: 0px;
    }
}