.header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 110px;
    background-image: url(img/BOKEH_BACK_01.png);
    background-size: 100%; 
    .header-logo {
        width: 230px;
        height: auto;
        margin:auto;
    }
}