.help-centre-panel {
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    transition:opacity 0.2s;
    opacity: 0;
    position: fixed;
    top: 100%;
    left: 10px;
    right: 10px;
    bottom: 200%;
    background-color: #adadad;
    color: #323232;
    z-index: 1000;
    &.isActive {
        top: 110px;
        bottom: 60px;
        opacity: 1;
    }
}