.instagram-pics {
    position: relative;
    padding: 60px 10px 20px 10px;
    border-bottom: 10px solid #181a19;
    .instagram-logo {
        height: 40px;
        width: 40px;
        background-size: 280px 40px;
        background-image: url(img/social.svg);
        background-position: -120px 0px;
        margin:auto;
    }
    ul {
        padding:0px;
        margin:0px;
        li {
            padding:0px;
            margin-bottom:10px;
        }
    }
    img {
        max-width: 100%;
    }
}