.intro-panel {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 100px 20px 20px 20px;
    h1 {
        font-weight: bolder;
        font-size: 50px;
        margin-bottom: 20px;
    }
    p {
        font-size: 22px;
    }
    .intro-panel-help {
        .intro-panel-help-btn {
            
        }
    }
}