.listener-count {
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    bottom: 50px;
    left: 0px;
    right: 0px;
    top: 100px;
    z-index: 1000;
    text-align: center;
    color: #fff;
    .preloader {
        display: none;
    }
    &.loading   {
        .preloader {
            bottom : 100px;
            display: block;
        }
        .loading-hint {
            display: block;
        }
        p {
            display: none;
        }
    }
     p {
        font-size: 20px;
        color: #fff;
        &.logo {
            font-size: 36px;
        }
    }
    .listener-count-number {
        width: 100%;
        font-size: 130px;
    }
    .listener-count-close-btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
        left: 20px;
        background-color: @action;
    }
}
.listener-count-icon {
    padding-top: 60px;
    .listener-count-icon-img {
        height: 120px;
        display: inline-block;
        background:url(img/scroll-icon.svg);
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;
    }
}
.loading {
    .listener-count-number {
        display: none;
    }
   
}
@media all and (max-height:450px) {
    .listener-count {
        p {  
            font-size: 16px;
        }
        .listener-count-number {
            font-size: 40px;
        }
    }
    
}