.login {
    padding: 0px 10px 0px 10px;
    /*border-top: 1px solid @loginBorder;*/
    p {
        font-size: 22px;
        text-align: center;
        padding: 20px;
    }
}
.social-loading {
    display: none;
    .preloader {
        position: relative !important;
    }
}