.notification-centre-panel {
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    transition:opacity 0.2s;
    opacity: 0;
    position: fixed;
    top: 100%;
    left: 10px;
    right: 10px;
    bottom: 200%;
    background-color: #adadad;
    color: #323232;
    z-index: 1000;
    &.isActive {
        top: 110px;
        bottom: 60px;
        opacity: 1;
    }
    ul {
        list-style: none;
        margin:0px;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        padding: 0px 10px !important;
        .notification-centre-list {
            list-style: none;
            display: block;
            margin:0px;
            width: 100%;
            height: 70px;
            padding: 10px;
            border-bottom: 1px solid #323232;
            .notification-centre-list-img {
                -webkit-border-radius:100%;
                -moz-border-radius:100%;
                border-radius:100%;
                height: 50px;
                width: 50px;
                overflow: hidden;
                float: left;
                img {
                    max-width: 100%;
                }
            }
            .notification-centre-list-name {
                height: 50px;
                line-height: 50px;
                color: #323232;
                float: right;
            }
        }
    }
}