.profile-outer {
    position: relative;
}
.profile {
    text-align: center;
    position: relative;
    h2  {
        margin:0px;
        color: #fff;
        padding: 10px;
        border-bottom: 1px solid @loginBorder;
        background-color: #181a19;
    }
    .profile-desc, .profile-shoutouts {
        margin:0px;
        color: #fff;
        padding: 10px;
        border-bottom: 1px solid @loginBorder;
        background-color: #181a19;
    }
    .profile-shoutouts {
        .profile-shoutouts-notification {
            height: 40px;
            position: relative;
            background-image:url(img/shoutout.png);
            margin: auto;
            display: inline-block;
            .profile-shoutouts-notification-inner {
                height: 40px;
                width: 40px;
                left: 0px;
                top: 0px;
                position: relative;
                background-position: -40px 0px;
                opacity: 0;
                &.blink {
                    animation: blink 1s step-start 0s infinite;
                    -webkit-animation: blink 1s step-start 0s infinite;
                }
            }
            .profile-shoutouts-notification-count {
                display: block;
                font-weight: lighter;
            }
        }
    }
    h3  {
        color: #666;
    }
    p {
        color: #adadad;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .twitter {
        color: @twitter;
    }
    .facebook {
        color: @facebook;
    }
    .instagram {
        color: @instagram;
    }
    .google {
        color: @google;
    }
}