.profile {
    ul {
        height: 240px;
        position: relative;
        white-space: nowrap;
        padding:20px 0px 0px 0px;
    }
    li {
        width: 100%;
        position: relative;
        top: 0px;
        display: inline-block;
    }
}
.profile-pic {
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    margin-left: -100px;
    left: 50%;
}
.profile-swipe-container {
    border-bottom: 1px solid @loginBorder;
    background-color: #181a19;
}
.profile-swipe-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}