.profile-ctrl {
    background-color: #000;
    position: relative;
    padding: 10px;
    .profile-ctrl-btn-icon {
        .icon {
            height: 40px;
            width: 40px;
            background-size: 280px 40px;
            background-image: url(img/social.svg);
            margin:auto;
        }
    }
    .profile-ctrl-del {
        background-color: #e60000;
        .icon {   
            background-position: -200px 0px;
        }
    }
    .profile-ctrl-go {
        background-color: #6da51e;
        
        .icon {   
            background-position: -160px 0px;
        }  
    }
    .profile-ctrl-logout {
        background-color: #adadad;
        .icon {
            background-position: -240px 0px;
        }
    }
}