body {
    background-color: @background;
}
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    list-style: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
ul, li {
    margin:0px;
    padding:0px;
}