
<section class="console">
    <div class="console-search">
        <form>
            <input class="console-searchbar" placeholder="Search LockedIn listeners" type="search" ng-model="search.$"/>
        </form>
    </div>
    <div id="js-refresh" class="refresh" ng-click="refreshConsole()"></div>
    <ul>
        <li class="listener" ng-repeat="ind in listenersArray | filter:search" ng-click="shoutout($event, ind._id, $index)" id="js-{{ind._id}}">
            <div class="profile-image" ng-style="{'background-image':'url('+ind.preferences.image+')'}"></div>
            <div class="profile-info">
                <h3>{{ind.preferences.name}}</h3>
                <p>{{ind.twitter.location}}</p>
            </div>
            <div class="shoutouts-dj">
                <div class="shoutouts-dj-inner">
                    <div class="shoutouts-dj-disc" ng-repeat="disc in ind.shoutouts_dj">{{disc}}</div>
                </div>
            </div>
            <div class="shoutouts">
                <div class="shoutouts-inner">
                    {{ind.shoutCount}}
                </div>
            </div>
        </li>
    </ul>
    <div class="get-more" ng-click="getMoreUsers()">See more listeners</div>
</section>