<div class="login-nav">
    <div id="js-login-nav-return" ng-click="loginTempleteChange(1)" class="login-nav-btn current">Login</div><div ng-click="loginTempleteChange(2)" id="js-login-nav-new" class="login-nav-btn">Set Up Account</div>
</div>
<section class="login" ng-include="loginTemplete">
    
</section>
