<form id="registerForm">
    <fieldset>
        <input type="text" name="username" placeholder="Enter your email address"/>
    </fieldset>
    <fieldset>
        <input type="password" name="password"  placeholder="Enter your password"/>
    </fieldset>
    <fieldset>
        <input type="text" name="name" placeholder="name"/>
    </fieldset>
    <fieldset>
        <input id="js-initials" type="text" name="initials" placeholder="initials"/>
    </fieldset>
   <fieldset>
       <a class="submit" value="Send" ng-click="newDj()">Submit</a>
   </fieldset>
</form>