<form id="signUpForm">
    <fieldset>
        <input type="text" name="username" placeholder="Enter your email address"/>
    </fieldset>
    <fieldset>
        <input type="password" name="password"  placeholder="Enter your email password"/>
    </fieldset>
    <fieldset>
        <a class="submit" value="Send" ng-click="djLogin()">Submit</a>
    </fieldset>
</form>