.header {
    top: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    right: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
    padding: 0px;
    width: 100%;
    min-height: 90px;
    /* border-width: 1px will actually create 2 device pixels on retina; */
    background-size: 0;
}